<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wx.xcx.mapper.RecruitmentMapper">
    <resultMap id="BaseResultMap" type="com.wx.xcx.entity.Recruitment">
        <result column="z_id" property="zId" jdbcType="INTEGER"/>
        <result column="z_title" property="zTitle" jdbcType="VARCHAR"/>
        <result column="z_type" property="zType" jdbcType="INTEGER"/>
        <result column="z_content" property="zContent" jdbcType="VARCHAR"/>
        <result column="z_time" property="zTime" jdbcType="TIMESTAMP"/>
        <result column="z_img" property="zImg" jdbcType="VARCHAR"/>
        <result column="z_owner" property="zOwner" jdbcType="INTEGER"/>
        <result column="z_status" property="zStatus" jdbcType="INTEGER"/>
    </resultMap>
    <insert id="insert" parameterType="com.wx.xcx.entity.Recruitment">
        insert into recruitment ( z_title, z_type, z_content)
        values (#{zTitle,jdbcType=VARCHAR}, #{zType,jdbcType=INTEGER},
        #{zContent,jdbcType=VARCHAR})
    </insert>
    <update id="update">
        update recruitment
        set z_title=#{zTitle},z_type=#{zType},z_time=#{zTime}
        z_content=#{zContent}
        where z_id=#{zId}
    </update>
    <delete id="delete">
        delete *
        from recruitment
        where z_id=#{zid}
    </delete>
</mapper>